<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a test of Django & Docker</h1>
    <p>It works!</p>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Test</h1>
            </div>
        </div>
    </div>

    <table>
        <tr>
            <th>Test</th>
        </tr>
        <tr>
            <td>Test</td>
        </tr>
    </table>

    <style>
        h1 {
            color: red;
        }
        p {
            color: blue;
        }
        .container {
            background-color: green;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>

</body>
</html>